.cont1{
    background-image: url(/images/backgrounds/h_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: auto;
}
.head{
    color: white;
    margin-top: 80px;
    padding: 20px;
    font-family: Arial;
}
.row1{
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.row2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6cm;
}
.row3{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
.row4{
    position: relative;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/images/backgrounds/s_image.jpg);
    background-size: cover;
}
.row5{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
.col1{
    font-size: 18px;
}
.row8{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 35px;
}
#message{
    width: 40%;
    height: 20vh;
    padding: 0px;
}
.row9{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}