@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
*{
    font-family: 'Inter', sans-serif;
}
.cont1{
    background-image: url(/images/backgrounds/h_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: auto;
}
.msicon{
    margin-top: 2cm;
}
.head{
    color: white;
    margin-top: 5cm;
    font-family: Arial;
}
.intro h1{
    font-size: 50px;
}
.row1{
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.row2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6cm;
}
.row3{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
.row4{
    position: relative;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/images/backgrounds/s_image.jpg);
    background-size: cover;
}
.row5{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
.cont5{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
.row6{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.row7{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.col1{
    font-size: 18px;
}
.row8{
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    background-image: url(/images/backgrounds/c_image.jpg);
    background-size: cover;
    height: 100vh;
}
.message{
    width: 50%;
    height: 50vh;
    padding: 0px;
    color: white;
    background-color: transparent;
    
}
.icons{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 35px;
    list-style: none;
}
.name-mail{
    background-color: transparent;
}
#copyright{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
#design{
    display: none;
    margin-top: 5px;
}
#design-icon{
    position: relative;
    
}
#product{
    display: none;
    margin-top: 5px;
}

