.cont1{
    background-image: url(/images/backgrounds/h_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: auto;
}
.head{
    color: white;
    margin-top: 80px;
    padding: 20px;
    font-family: Arial;
}
.row1{
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}