@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
*{
    font-family: 'Inter', sans-serif;
}
.cont1{
    background-image: url(/images/backgrounds/h_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: auto;
}
.msicon{
    position: relative;
    padding-top: 2.5cm;
    
    
}
.head{
    color: white;
    padding-top: 4cm;
    padding-bottom: 2cm;
    font-size: 60px;
}
.intro h1{
    font-size: 50px;
}
#h12{
    font-size: 40px;
}
.row1{
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.row2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6cm;
}
.row3{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
.row4{
    position: relative;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/images/backgrounds/s_image.jpg);
    background-size: cover;
}
.row5{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
.cont5{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
.row6{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.row7{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.col1{
    font-size: 18px;
}
.row8{
    position: relative;
    justify-content: center;
    color: white;
    text-align: center;
    background-image: url(/images/backgrounds/c_image.jpg);
    background-size: cover;
    height: 100vh;
}
.message{
    position: absolute;
    width: 50vw;
    height: 50vh;
    padding: 0px;
    color: white;
    position: relative;
    justify-content: center;
    background-color: transparent;
}
.icons{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 35px;
    list-style: none;
}
.name-mail{
    background-color: transparent;
}
#copyright{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
#design{
    position: absolute;
    display: none;
    margin-top: 5px;
    text-align: center;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 5px;
}
#design-icon{
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#product{
    position: absolute;
    display: none;
    margin-top: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}
#develop{
    position: absolute;
    display: none;
    margin-top: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}
.work4{
    display: flex;
}
.title1{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: rgba(0, 0, 0.6);
    color: rgb(255, 255, 255);
    display: none;
    margin-top: 60px;
    margin-left: 50px;
    border: solid;
    border-width: 4px;
    border-color: white; 
}
.work3{
    display: flex;
}
.title2{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: rgba(0, 0, 0.6);
    color: rgb(250, 245, 245);
    display: none;
    margin-top: 60px;
    margin-left: 45px;
    border: solid;
    border-width: 4px;
    border-color: white;
    
}
.work2{
    display: flex;
}
.title3{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: rgb(0, 0, 0.3);
    color: rgb(255, 255, 255);
    display: none;
    margin-top: 60px;
    margin-left: 40px;
    border: solid;
    border-width: 4px;
    border-color: white; 
}
.work1{
    display: flex;
}
.title4{
    position: absolute;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: rgba(0, 0, 0.3);
    color: rgb(255, 253, 253);
    display: none;
    margin-top: 65px;
    margin-left: 50px;
    border: solid;
    border-width: 4px;
    border-color: white;
}
.work5{
    display: flex;
}
.title5{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0.3);
    display: none;
    margin-top: 60px;
    margin-left: 55px;
    border: solid;
    border-width: 4px;
    border-color: white; 
}
.work6{
    display: flex;
}
.title6{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0.3);
    display: none;
    margin-top: 60px;
    margin-left: 55px;
    border: solid;
    border-width: 4px;
    border-color: white; 
}
.work7{
    display: flex;
}
.title7{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0.3);
    display: none;
    margin-top: 60px;
    margin-left: 45px;
    border: solid;
    border-width: 4px;
    border-color: white; 
}
.work8{
    display: flex;
}
.title8{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0.1);
    display: none;
    text-align: center;
    margin-top: 60px;
    margin-left: 45px;
    border: solid;
    border-width: 4px;
    border-color: white;     
}
#name{
    background-color: transparent;
}
#mail{
    background-color: transparent;
}
.form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cont6{
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

